/*		Default Layout: 960px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
*/





/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {

.client_profile h2 {
  left: 50%;
}

.client_designation {
  left: 61%;
  margin-top: 55px;
}
.client_profile img {
  left: 10%;
}


}













/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
.ty_h1 {
  margin-top: 0px;
}
.Service_wrap {
  margin: 10px 0px 10px;
}
.row.button_wrap {
  text-align: center;
}
.Service_pack_wrap {
  margin: 10px 0px 10px;
}
.portfolio_content {
  margin: 10px 0px 10px;
}
.c_review {
  margin: 10px 0px 10px;
}
.blog_wrap {
  margin: 10px 0px 10px;
}
.r_work_next {
  left: 95%;
	}

	
}










/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {



	
	
	
	
}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	

	
	
	
}